/* Avaliable Fonts
font-family: 'Courgette', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Shadows Into Light Two', cursive;

*/



nav {
  background-color: #282828;
  text-align: right;
  position: relative;
  height: 7vh;
}

nav ul {
  width: 90%;
  margin: 0;
  padding: 2vh;
}

nav li {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  display: inline;
  text-decoration: none;
  padding: 1.5vh;

}

footer {
  background-color: #282828;
  height: 7vh;
  text-align: center;
  position: relative;
}

footer p {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    color: white;
    padding-top: 2vh;
}

/* Animations*/

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    }
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }





/***************************                      ***************************/



/* Home page edits*/
main {
  font-size: 16px;
  width: 100%;
  height: 86vh;
  animation: reveal 5s;
}

h1,
h3 {
  margin: 0;
}

.home h1 {
  font-family: 'Courgette', cursive;
  font-size: 3em;
  height: 25vh;
  padding-top: 50px;
}

.home h3 {
  display: inline;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  height: 100px;
  padding: 8%;
  text-align: center;
  position: sticky;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 56px;
    background-color: black;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

.home {
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
}

#make-tee-picture {
  position: fixed;
  height: 40%;
  bottom: 6vh;
  left: 30%;
}

.reveal-animate {
  animation: reveal 5s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/***************************      Tablet Styles      ***************************/

@media only screen and (min-width: 768px) {
    .home h1 {
      font-family: 'Courgette', cursive;
      font-size: 3em;
      height: 15vh;
      padding-top: 50px;
    }

    .home h3 {
      display: inline;
      font-family: 'Roboto Mono', monospace;
      font-size: 2em;
      height: 100px;
      width: 100%;
      padding: auto;
      text-align: center;
      position: sticky;
    }

    #make-tee-picture {
      position: fixed;
      height: 50%;
      bottom: 3vh;
      left: 37%;
    }

}

/***************************    Desktop Styles      ***************************/

@media only screen and (min-width: 1200px) {
    /* Home page edits*/

    .home h1 {
      font-family: 'Courgette', cursive;
      font-size: 5em;
      height: 15vh;
      padding-top: 50px;
    }

    .home h3 {
      display: inline;
      font-family: 'Roboto Mono', monospace;
      font-size: 7em;
      height: 100px;
      width: 100%;
      padding: auto;
      text-align: center;
      position: sticky;
    }

    #make-tee-picture {
      position: fixed;
      height: 55%;
      bottom: 3vh;
      left: 40%;
    }

}
